*{
    margin: 0;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: black; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: green; 
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    height: 100vh;
    overflow-y: scroll;
}
.container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
}
.bg{
    position: fixed;
    background-color: #121217;
    width: 100%;
    z-index: 1;
}
.header{
    width: 60%;
    margin: 0px auto;
    padding: 5px 0px;
}
.logo{
    float: left;
}
.logo h1{
    font-weight: normal;
}
.logo h1 a{
    text-decoration: none;
    color: white;
}
.logo h1 a i{
    color: greenyellow;
}
.logo h1 a span{
    color: greenyellow;
}
.nav{
    float: right;
}
.nav ul{
    list-style: none;
    display: flex;
    margin: 10px 0px;
}
.nav ul li{
    margin: 0px 20px;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
}
.nav ul li a:hover{
    padding-bottom: 3px;
    border-bottom: solid 1px greenyellow;
}
.nav ul i{
    color: greenyellow;
}
.clear{
    clear: both;
}
.section{
    width: 100%;
    height: 100vh;
}
.content{
    width: 60%;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inner{
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}
.inner h1{
    margin: 20px 0px;
    font-size: 2.5vw;
    color: white;
}
.inner h2{
    margin: 50px 0px;
    font-size: 1.2vw;
}
.inner h2 a{
    color: greenyellow;
    text-decoration: none;
}
.inner h2 a:hover{
    border-bottom: 1px solid greenyellow;
    padding-bottom: 5px;
    transition: 0.4s;
}
.inner p{
    margin: 20px 0px;
    font-size: 2.5vw;
    color: greenyellow;
    font-weight: bold;
}
.content img{
    width: 40%;
    float: right;
    border: solid 1px greenyellow;
    border-radius: 10px;
}
#home{
    height: 100vh;
    background-image: url("./img/developer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#about{
    background-color: #8cadd2;
    height: 100vh;
}
#timeline{
    background-color: #ea695f;
    height: 100vh;
}
#project{
    background-color: #f6d2c9;
    height: 100vh;
}
#contact{
    background-color: #e9e8f2;
    height: 100vh;
}