*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.div1{
    background-color: #121217;
    background-image: url(./img/developer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.div2{
    width: 100%;
}
.div3{
    width: 60%;
    margin: 0px auto;
    padding: 15px 0px;
}
.logo{
    float: left;
}
.logo h1{
    font-weight: normal;
}
.logo h1 a{
    text-decoration: none;
    color: white;
}
.logo h1 a i{
    color: #ca8e46;
}
.logo h1 a span{
    color: #ca8e46;
}
.nav{
    float: right;
}
.nav ul{
    list-style: none;
    display: flex;
    margin: 10px 0px;
}
.nav ul li{
    margin: 0px 20px;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
}
.nav ul li a:hover{
    color: #ca8e46;
    padding-bottom: 3px;
    border-bottom: solid 1px #ca8e46;
}
.nav ul i{
    color: #ca8e46;
}
.clear{
    clear: both;
}
.content{
    width: 60%;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inner{
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}
.inner h1{
    margin: 20px 0px;
    font-size: 2.5vw;
    color: white;
}
.inner p{
    margin: 20px 0px;
    font-size: 2.5vw;
    color: #ca8e46;
    font-weight: bold;
}
.content img{
    width: 40%;
    float: right;
    border: solid 1px #ca8e46;
    border-radius: 10px;
}