* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  scroll-behavior: smooth;
}
.cursor {
  width: 24px;
  height: 24px;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: cursorAnim 0.3s infinite alternate;
}
@keyframes cursorAnim {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1.2);
  }
}
.inner-cursor {
  width: 0px;
  height: 0px;
  border: 3px solid blue;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121217;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: greenyellow;
}
body {
  font-family: sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* start header */
.header {
  position: fixed;
  background-color: #121217;
  width: 100%;
  z-index: 2;
  transition: 0.4s;
}
.header-content {
  width: 1140px;
  height: 50px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-content-logo h1 {
  font-weight: normal;
}
.header-content-logo h1 a {
  text-decoration: none;
  color: white;
}
.header-content-logo h1 a i {
  color: greenyellow;
}
.header-content-logo h1 a span {
  color: greenyellow;
}
.header-content-nav ul {
  list-style: none;
}
.header-content-nav ul li {
  display: inline-block;
  margin: 0px 10px;
}
.header-content-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
}
.header-content-nav ul li a:hover {
  padding-bottom: 5px;
  border-bottom: solid 1px greenyellow;
}
.header-content-nav ul i {
  color: greenyellow;
}
/* end header */

/* star main */
/* home */
#home {
  height: 100vh;
  background-image: url("./img/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-content {
  width: 1140px;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.home-content-text {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-content-text p {
  margin: 20px 0px;
  font-size: 45px;
  color: greenyellow;
  font-weight: bold;
}
.home-content-text h1 {
  margin: 10px 0px;
  font-size: 50px;
  color: white;
}
.home-content-text h2 {
  margin: 20px 0px;
  font-size: 30px;
}
.home-content-text h2 a {
  color: greenyellow;
  text-decoration: none;
}
.home-content-text h2 a:hover {
  border-bottom: 1px solid greenyellow;
  padding-bottom: 10px;
  transition: 0.4s;
}
.home-content-img {
  height: 500px;
}
.home-content-img img {
  height: 100%;
  border-radius: 10px;
  border: solid 1px greenyellow;
}
/* about */
#about {
  height: 100vh;
  background-color: #101010;
}
.about-content {
  width: 1140px;
  height: 100%;
  margin: 0px auto;
  color: #f0f0f0;
  padding: 100px 0px;
}
.about-content-title {
  text-align: center;
  padding-bottom: 100px;
}
.about-content-title p {
  color: #9f9f9f;
  padding-bottom: 20px;
}
.about-content-title h1 {
  color: #f0f0f0;
  font-size: 50px;
}
.about-content-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.about-content-info-img{
  width: 400px;
}
.about-content-info-img img{
  width: 100%;
  border-radius: 10px;

}
.about-content-info-profile {
  width: 700px;
}
.about-content-info-profile h2{
  color: #009e66;
  padding-bottom: 20px;
}
.about-content-info-profile h1{
  color: #f0f0f0;
  font-size: 35px;
  padding-bottom: 20px;
}
.about-content-info-profile-description p{
  font-size: 16px;
  padding-bottom: 30px;
  color: #9f9f9f;
  line-height: 25px;
  border-bottom: 2px solid rgba(255,255,255,.08);
}
.about-content-info-profile-address{
  padding: 20px 0px;
}
.about-content-info-profile-address-row{
  display: flex;
  flex-direction: row;
}
.about-content-info-profile-address-row-inner{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 35px;
  align-items: center;
}
.about-content-info-profile-address-row-inner span{
  padding-right: 10px;
}
.about-content-info-profile-address-row-inner p{
  color: #9f9f9f;
}
.about-content-info-profile-address-row-inner p b{
  color: #009e66;
  font-weight: normal;
}
.about-content-info-profile-cv{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
}
.about-content-info-profile-cv-btn a{
  padding: 10px 30px;
  background-color: #009e66;
  text-decoration: none;
  color: #f0f0f0;
  border-radius: 25px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
}
.about-content-info-profile-cv-ul ul{
  list-style: none;
}
.about-content-info-profile-cv-ul li{
  display: inline-block;
}
.about-content-info-profile-cv-ul li a{
  text-decoration: none;
  color: #f0f0f0;
  padding: 5px 10px;
}
.about-content-info-profile-cv-ul li a i{
  font-size: 20px;
  transition: 0.4s;
}
.about-content-info-profile-cv-ul li a i:hover{
  color: #009e66;
}

#timeline {
  background-color: #474e5d;
  padding: 50px 0px;
  display: none;
}
.timeline {
  position: relative;
  width: 1140px;
  margin: 0px auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container-timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.right::after {
  left: -16px;
}
.content-timeline {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .left::after,
  .right::after {
    left: 15px;
  }
  .right {
    left: 0%;
  }
}
#project {
  background-color: #f6d2c9;
  height: 100vh;
  display: none;
}
#contact {
  background-color: #f2f2f2;
  padding: 20px 0px;
}
/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.container-contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
